---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Portafolio app | error 404" >
    <main class="px-4 animate-fade-left ">
    <div class="pt-52">

        <h1 class="text-3xl md:text-5xl font-bold text-center text-yellow-400">404 - Page not found</h1>
        <p class="text-center text-white">
          Revisar la URL a la que apunta y si está mal escrita, corregirla
        </p>
        <div class="text-center pt-10">
          <a href="/" class="rounded-md bg-white sand-700 text-black mx-auto p-4 hover:border-4 border-yellow-400">Volver Inicio</a>
        </div>
        </div>
    </main>
</Layout>