---
import Github from "../icons/Github";
import Instagram from "../icons/Instagram";
import TikTok from "../icons/TikTok";
import YouTube from "../icons/YouTube";
---

<nav class="bg-white shadow-lg">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center h-16">
            <div class="flex items-center space-x-4">
                <Github />
                <Instagram />
                <TikTok />
                <YouTube />
            </div>
        </div>
    </div>
</nav>